:root {
  --accent-primary-lighter: #A3C7CC;
    --accent-primary: #fad383;
    --accent-primary-rgb: 250, 211, 131;
    --accent-secondary: #112c18;
    --accent-secondary-rgb: 17, 44, 24;
    --accent-tertiary: #bd9231;
    --accent-tertiary-rgb: 189, 146, 49;
  --accent-secondary-hover: #E09600;
  --accent-primary-darker: #61A0A8;
  --accent-primary-hover: #D3B20D;
  --accent-quaternary: #86c1a9;
  --accent-quinary: #0c1748;
  --accent-senary: #32647d;
  --accent-septenary: #0277a3;
  --accent-octonary: #0e4863;
  --light: gainsboro;
  --light-secondary: #e8edec;
  --text-shadow: 1px 1px 1px black;
  --proxima-font: 'proxima_novaregular';
  --proxima-bold-font: 'proxima_novabold';
}

html {
  scroll-behavior: smooth;
}

body.nav-open {
  overflow: hidden;
}

#body-overlay {
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: all 0.25s ease-in-out;
  background: rgba(0, 0, 0, 0.75);
  z-index: 4;
  pointer-events: none;
}

#body-overlay.activate {
  opacity: 1;
}

section{
  overflow:hidden;
}

.bg-accent {
  background: var(--accent-primary);
}

a.bg-accent:hover {
  background: var(--accent-secondary);
}

.bg-accent-secondary {
  background: var(--accent-secondary);
}
.bg-accent-tertiary {
  background: var(--accent-tertiary);
}
.bg-accent-quaternary {
  background: var(--accent-quaternary);
}
.bg-accent-quinary {
  background: var(--accent-quinary);
}
.bg-accent-senary {
  background: var(--accent-senary);
}
.bg-accent-septenary {
  background: var(--accent-septenary);
}
.bg-accent-octonary {
  background: var(--accent-octonary);
}
.gray-gradients div {
  position:relative;
  z-index:1;
}
.gray-gradients:before {
  content:"";
  position:absolute;
  width:100%;
  height:150px;
  top:0;
  left:0;
  background: #141414;
  background: linear-gradient(180deg, rgba(20, 20, 20, 1) 0%, rgba(0, 0, 0, 1) 100%);
}
.gray-gradients:after {
  content:"";
  position:absolute;
  width:100%;
  height:100px;
  bottom:0;
  left:0;
  background: #141414;
  background: linear-gradient(0deg, rgba(20, 20, 20, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.bg-gradient-black-top-secondary-bottom {
  background: linear-gradient(0deg, rgba(0,0,0, 1) 0%, rgba(var(--accent-secondary-rgb), 1) 100%);
}
.bg-gradient-secondary-top-black-bottom {
  background: linear-gradient(180deg, rgba(0,0,0, 1) 0%, rgba(var(--accent-secondary-rgb), 1) 100%);
}
.bg-gradient-secondary-top-white-bottom {
  background: linear-gradient(0deg, rgba(255,255,255, 1) 0%, rgba(var(--accent-secondary-rgb), 1) 100%);
}

.black-gradients div,
.white-gradients-top div,
.white-gradients-bottom div {
  position:relative;
  z-index:1;
}
.black-gradient-top:before {
  content:"";
  position:absolute;
  width:100%;
  height:150px;
  top:0;
  left:0;
  background: #141414;
  background: linear-gradient(0deg, rgba(20, 20, 20, 1) 0%, rgba(0, 0, 0, 1) 100%);
}
.black-gradient-bottom:after {
  content:"";
  position:absolute;
  width:100%;
  height:100px;
  bottom:0;
  left:0;
  background: #141414;
  background: linear-gradient(0deg, rgba(20, 20, 20, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.white-gradient-top:before {
  content:"";
  position:absolute;
  width:100%;
  height:150px;
  top:0;
  left:0;
  background: #FFF;
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(20, 20, 20, 1) 100%);
}
.white-gradient-bottom:after {
  content:"";
  position:absolute;
  width:100%;
  height:100px;
  bottom:0;
  left:0;
  background: #FFF;
background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(20, 20, 20, 1) 100%);
}

.border-radius {
    border-radius: 16px;
}

a.bg-accent-secondary:hover {
  background: var(--accent-primary);
}

.bg-accent-secondary-gradient {
  background: #2F2F2F;
  background: radial-gradient(circle, rgba(47, 47, 47, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.bg-black-gradient {
  background: #000;
  background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(47, 47, 47, 1) 100%);
}

.col-hover,
.col-hover * {
    transition: all .25s ease-in-out;
}

.col-hover:hover {
    transform:translate(0px,-20px);
}
/* .col-hover:hover img {
    transform: scale(1.1);
} */

.bg-white {
  background: white;
}

.bg-light {
  background: var(--light);
}
.bg-light-secondary {
  background: var(--light-secondary);
}

.bg-black {
  background: black;
}

.br-0 {
  border-radius: 0;
}

.br-25 {
  border-radius: 25px;
}

.b-0 {
  border: 0;
}

.border {
  border: 3px solid white !important;
}

.border.accent {
  border: 1px solid #1b75ba !important;
}

a.border.accent:hover {
  background: #1b75ba;
  color: white;
  transition: all 0.25s ease-in-out;
}

.box-shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.overflow-h {
  overflow: hidden;
}

.pen {
  pointer-events: none;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

hr.text-white {
  border-color: white;
}

.h-auto {
  height: auto;
}

.w-auto {
  width: auto;
}

.overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
}
.divider {
  border-top: 2px solid var(--accent-primary);
  width: 200px;
  margin: 10px auto;
}

.spacer {
  height: 15px;
}

/* content */
.alignleft {
  float: left;
}

.grecaptcha-badge {
  display: none !important;
}

@media screen and (max-width: 1024px) {
  .bg-attachment {
    background-attachment: unset !important;
  }
}
@media screen and (max-width: 1199px) {
  .mobile-hidden {
    display: none !important;
  }
}

@media screen and (min-width: 1200px) {
  .desktop-hidden {
    display: none !important;
  }
}

/*** Works on common browsers ***/
::selection {
  background-color: var(--accent-primary);
  color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
  background-color: var(--accent-primary);
  color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
  background-color: var(--accent-primary);
  color: #fff;
}

::-ms-selection {
  background-color: var(--accent-primary);
  color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
  background-color: var(--accent-primary);
  color: #fff;
}